@model IEnumerable<Sens_Hospital.Models.DepartmentDto>
@{
    ViewBag.Title = "Departments";
}

<h2>Departments</h2>
<div>
    <table>
        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DepartmentName</td>
                    <td>@item.DepartmentPhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

